<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask - Json e Python</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>
    <center>
        <div id="centralizar-caixa-pesquisa">
            <div id="caixa-pesquisa">
                <form id="bancoForm" action="buscar" method="POST" class="caixa-pesquisa">
                    <input placeholder="Pesquisar" name="nome" type="text">
                    <button type="submit" name="buscar" id="buscarBanco" onclick=""><label for="check" class="icon">
                            <img src="/static/imagens/Vector.svg" alt="">
                        </label></button>
                </form>
            </div>
        </div>
    </center>

    <br>

    <div id="fundo_moedas">

    </div>






    <script src="/static/js/script.js"></script>
</body>

</html>